openapi: 3.0.1
info:
  title: Datacat REST API v1.0.3
  description: >-
    <p>Web facade to access the Datacat catalogue system.</br></p>
    <h3>Latest changes:</h3>
    <ul><li>v1.0.X "bSDD-like prototype"<ul><li>major endpoint overhaul (bSDD)</li>
        <li>including URI usage (partly missing business logic)</li>
        <li>schema rework (renaming, parameter changes, etc.)</li>
        <li>removed porxy settings</li>
        <li>published under CAFM and IBPDI demain</li>
        <li>minor changes to the UI</li>
    </ul></li></ul>
  contact:
    name: Support/Contact
    url: https://github.com/dd-bim
    email: lennart.hildebrandt@htw-dresden.de
  license:
    name: '* licence name placeholder *'
  version: '1.0.3'
servers:
 - url: https://datacat.org/api/e1
   description: DATACAT
 - url: https://ibpdi.datcat.org/api/e1
   description: IBPDI
 - url: https://cafm.datacat.org/api/e1
   description: CAFM
paths:
  /api/Class/v1:
    get:
      tags:
        - Class
      summary: "Get class detailes (i.e. XtdSubject) from a specific class"
      description: "Following features of this endpoint are not implemented yet: \n\r- include properties\n\r- various response contents"
      operationId: getClassDetails
      parameters:
        - name: URI
          in: query
          description: >-
            URI of the class, e.g. https://datacat.org/class/1Cdl$F84nFRgiJwdnIHUkg | CAFM: https://cafm.datacat.org/class/442.90 | IBPDI: https://ibpdi.datacat.org/class/c102a240-c3f2-11ec-ac20-5d24a21d559a
          required: true
          schema:
            type: string
        - name: IncludeClassProperties
          in: query
          description: >-
            Use this option to include properties of the class. By default it is set to false. ! This option is not yet implemented.
          schema:
            type: boolean
      responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ClassDetailsResponse.v1'
  /api/Dictionary/v1:
    get:
      tags:
        - Dictionary
      summary: Get list of available dictionaries (i.e. XtdBag) with optional filtering.
      description: "Following features of this endpoint are not implemented yet: \n\r- response contents"
      operationId: getDictionary
      parameters:
        - name: URI
          in: query
          description: >-
            Optional filtering, URI of a specific dictionary, e.g. https://datacat.org/model/34mDkKGrz2FhzL8laZhy9W
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictionaryResponse.v1'
  /api/Dictionary/v1/Classes:
    get:
      tags:
        - Dictionary
      summary: Get dictionary with tree of classes from Datacat (i.e. XtdSubject)
      description: "Following features of this endpoint are not implemented yet: \n\r- response contents"
      operationId: getClasses
      parameters:
        - name: URI
          in: query
          description: >-
            URI of the dictionary, e.g. As-Built_Surveying https://datacat.org/model/2CCiym3eLCQOUDoIy7tUE_
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassesResponse.v1'
  /api/Dictionary/v1/Properties:
    get:
      tags:
        - Dictionary
      summary: Get dictionary with its properties from Datacat (i.e. XtdProperty)
      description: "Following features of this endpoint are not implemented yet: \n\r- response contents"
      operationId: getProperties
      parameters:
        - name: URI
          in: query
          description: >-
            URI of the class, e.g. https://datacat.org/property
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertiesResponse.v1'  
  /api/Statistics:
    get:
      tags:
        - Lookup Data
      summary: Get statistics about Datacat entries here.
      description: With this endpoint the statistics, i.e. the items name and its content count, can be requested with GET.
      operationId: getStatistics
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse.v1'
components:
  schemas:
    ClassDetailsResponse.v1:
      type: object
      properties:
        classProperties:
          type: array
          items:
            $ref: '#/components/schemas/ClassPropertyResponse.v1'
          description: List of the properties of this class
          # nullable: true
        dictionaryUri:
          type: string
          description: URI of the dictionary
          # nullable: true
        definition:
          type: string
          description: Formal definition
          # nullable: true
        name:
          minLength: 1
          type: string
          description: Name
        uri:
          minLength: 1
          type: string
          description: Unique identification
        uid:
          type: string
          description: Alternative unique global identification
          # nullable: true
        versionDateUtc:
          type: string
          description: Date of the version
          format: date-time
    ClassPropertyResponse.v1:
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: Name of the property
        uri:
          type: string
          # nullable: true
        description:
          type: string
          description: "Plain language description of the property.\r\nIf at Property level no description has been given but a \"Definition\" is available, then \"Definition\" is returned as description"
          # nullable: true
        propertyUri:
          type: string
          description: Unique identification of the property
          # nullable: true
        propertySet:
          type: string
          description: Name of the Property Set
          # nullable: true
    DictionaryResponse.v1:
      type: object
      properties:
        uri:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        version:
          minLength: 1
          type: string
    ClassesResponse.v1:
      type: object
      properties:
        uri:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        version:
          minLength: 1
    PropertiesResponse.v1:
      type: object
      properties:
        uri:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        version:
          minLength: 1
    StatisticsResponse.v1:
      type: object
      properties:
        catalogueItemId:
          type: string
        itemsCount:
          type: string