services:
  datacatapi:
    container_name: datacatapi
    image: schi11er/datacatrestapi:2.0.2
    build: .
    ports:
      - "3001:3001"
    environment:
      - SERVER_URL=http://host.docker.internal:8080
      - BASE_PATH=/graphql
      - USERNAME=username
      - PASSWORD=password
