package {{package}};

// =====================================================================================================================
// I M P O R T   S E C T I O N
// =====================================================================================================================
import org.slf4j.*;

// =====================================================================================================================
//  ........  S E C T I O N
// =====================================================================================================================
public class {{classname}} {

    private static final Logger logger = LoggerFactory.getLogger(GraphQLClass.class);

    // =====================================================================================================================
    // SECTION: ........
    // =====================================================================================================================
    // ENDPOINT: /api/........

    public static String ......Query() {

        StringBuilder queryBuilder = new StringBuilder();
        queryBuilder.append("")
                    .append("")
                    .append("");

        return queryBuilder.toString();
    }

    // =====================================================================================================================
    // ENDPOINT: /api/Class/Relations/v1

}