openapi: 3.0.1
info:
  contact:
    email: lennart.hildebrandt@htw-dresden.de
    name: Support/Contact
    url: https://github.com/dd-bim
  description: |-
    <p>Web facade to access the Datacat catalogue system.</br></p> <h3>Latest changes:</h3> <ul><li>v1.1.0 "ekkodale minimal requirements"<ul>
        <li>general rework of api/Class/v1</li>
        <li>general rework of api/Dictionary/v1/Classes (upcoming)</li>
        <li>including filter options (missing business logic)</li>
        <li>schema adjustment (including non-implemented attributes)</li>
        <li>backend logic and query rework</li>
        <li>minor UI adjustments</li>
        <li>improved accessibility of specification</li>
    </ul><li>v1.0.X "bSDD-like prototype"<ul>
        <li>adjustment of existing endpoints to match bSDD</li>
        <li>including URI usage (partly missing business logic)</li>
        <li>schema rework (renaming, parameter changes, etc.)</li>
        <li>removed porxy settings</li>
        <li>published under CAFM and IBPDI demain</li>
        <li>minor changes to the UI</li>
    </ul></ul></li></ul>
  license:
    name: '* licence name placeholder *'
  title: Datacat REST API v1.1.0
  version: 1.1.0
servers:
- description: DATACAT
  url: https://datacat.org/api/e1
- description: IBPDI
  url: https://ibpdi.datcat.org/api/e1
- description: CAFM
  url: https://cafm.datacat.org/api/e1
paths:
  /api/Class/v1:
    get:
      deprecated: false
      description: "Following features of this endpoint are not implemented yet: <br>\
        \ <ul><li>include language code filter</li> <li>various response contents</li></ul>"
      operationId: ClassGet
      parameters:
      - description: "URI of the class, e.g.<br> DATACAT: https://datacat.org/class/41e55123-7bf4-4e2f-8c04-a713f3a087c6<br>\
          \ CAFM: https://cafm.datacat.org/class/442.90<br> IBPDI: https://ibpdi.datacat.org/class/c102a240-c3f2-11ec-ac20-5d24a21d559a"
        explode: true
        in: query
        name: URI
        required: true
        schema:
          type: string
        style: form
      - description: "Use this option to include properties of the class. By default,\
          \ it is set to true.<br> ! This option is not yet implemented."
        explode: true
        in: query
        name: IncludeClassProperties
        required: false
        schema:
          type: boolean
        style: form
      - deprecated: true
        description: '! This option is not compatible with datacat.org or any of its
          instances'
        explode: true
        in: query
        name: IncludeChildClassReferences
        required: false
        schema:
          type: boolean
        style: form
      - deprecated: true
        description: '! This option is not compatible with datacat.org or any of its
          instances'
        explode: true
        in: query
        name: IncludeClassRelations
        required: false
        schema:
          type: boolean
        style: form
      - deprecated: true
        description: '! This option is not compatible with datacat.org or any of its
          instances'
        explode: true
        in: query
        name: IncludeReverseRelations
        required: false
        schema:
          type: boolean
        style: form
      - deprecated: true
        description: '! This option is not compatible with datacat.org or any of its
          instances'
        explode: true
        in: query
        name: ReverseRelationDictionaryUris
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Specify language (case sensitive).<br> For those items the text\
          \ is not available in the requested language, the text will be returned\
          \ in the default language of the dictionary<br> ! This option is not yet\
          \ implemented."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassContract.v1'
          description: Success
      summary: "[IN REWORK]Get class details (i.e. XtdSubject) from a specific class"
      tags:
      - Class
      x-accepts:
      - application/json
      x-tags:
      - tag: Class
  /api/Class/Relations/v1:
    get:
      deprecated: true
      operationId: ClassRelationsGet
      responses:
        "200":
          description: Success
      summary: "[NOT IMPLEMENTED]Get class relations or reverse relations (paginated)"
      tags:
      - Class
      x-accepts:
      - application/json
      x-tags:
      - tag: Class
  /api/Class/Properties/v1:
    get:
      deprecated: true
      operationId: ClassPropertiesGet
      responses:
        "200":
          description: Success
      summary: "[NOT IMPLEMENTED]Get class properties (paginated)"
      tags:
      - Class
      x-accepts:
      - application/json
      x-tags:
      - tag: Class
  /api/Dictionary/v1:
    get:
      deprecated: false
      description: 'Following features of this endpoint are not implemented yet:'
      operationId: DictionaryGet
      parameters:
      - description: "Optional filtering, URI of a specific dictionary, e.g. <br>\
          \ DATACAT: https://datacat.org/model/34mDkKGrz2FhzL8laZhy9W<br>  CAFM: <br>\
          \ IBPDI: https://ibpdi.datacat.org/model/800da571-b537-4549-9237-11568678ef9a"
        explode: true
        in: query
        name: URI
        required: false
        schema:
          type: string
        style: form
      - description: "Should test dictionaries be included in the result? By default\
          \ it is set to false.\r\nThis option is ignored if you specify a URI."
        explode: true
        in: query
        name: IncludeTestDictionaries
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based offset of the first item to be returned. Default is
          0.
        explode: true
        in: query
        name: Offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Limit number of items to be returned. The default and maximum\
          \ number of items returned is 1000. When Offset is specified, then the default\
          \ limit is 100."
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictionaryResponseContract.v1'
          description: Success
      summary: "[IN REWORK]Get list of available dictionaries (i.e. XtdBag) with optional\
        \ filtering."
      tags:
      - Dictionary
      x-accepts:
      - application/json
      x-tags:
      - tag: Dictionary
  /api/Dictionary/v1/Classes:
    get:
      deprecated: false
      description: Following features of this endpoint are not implemented yet:<br>
        <ul><li>usage of nested classes</li> <li>filter for class type</li> <li>filter
        for text</li> <li>filter for IFC entity</li> <li>consideration of limit and
        offset</li> <li>filter for language code</li></ul>
      operationId: DictionaryClassesGetWithClasses
      parameters:
      - description: "URI of the dictionary, e.g.<br> DATACAT: https://datacat.org/model/2CCiym3eLCQOUDoIy7tUE_<br>\
          \ CAFM: https://cafm.datacat.org/model/0bf5d7c3-5397-4255-ba9f-9607480f1ee1<br>\
          \ IBPDI: https://ibpdi.datacat.org/model/800da571-b537-4549-9237-11568678ef9a"
        explode: true
        in: query
        name: URI
        required: true
        schema:
          type: string
        style: form
      - deprecated: true
        description: Set to true to get classes in a nested structure.<br>You can't
          use this option if you are using pagination.<br> ! This option is not yet
          implemented.
        explode: true
        in: query
        name: UseNestedClasses
        required: false
        schema:
          type: boolean
        style: form
      - deprecated: true
        description: Optional filter on class type. Possible values are *not specified
          yet*.<br> ! This option is not yet implemented.
        explode: true
        in: query
        name: ClassType
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Optional filter text.<br>Ignored when UseNestedClasses = true<br>
          ! This option is not yet implemented.
        explode: true
        in: query
        name: SearchText
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: "Optional filter on related IFC entity. It accepts an IFC entity\
          \ code (e.g. IfcWall) or uri (e.g. *URI placeholder*).<br> When a code is\
          \ supplied, finding matching classes ignores the IFC version.<br> Ignored\
          \ when UseNestedClasses = true<br> ! This option is not yet implemented."
        explode: true
        in: query
        name: RelatedIfcEntity
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: Zero-based offset of the first item to be returned. Default is
          0.<br> ! This option is not yet implemented.
        explode: true
        in: query
        name: Offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - deprecated: false
        description: "Limit number of items to be returned. The default and maximum\
          \ number of items returned is 1000.<br> When Offset is specified, then the\
          \ default limit is 100.<br> ! This option is not yet implemented."
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - deprecated: false
        description: "Specify language (case sensitive).<br> For those items the text\
          \ is not available in the requested language, the text will be returned\
          \ in the default language of the dictionary<br> ! This option is not yet\
          \ implemented."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictionaryClassesResponseContract.v1.Classes'
          description: Success
      summary: "[IN REWORK]Get dictionary with tree of classes from Datacat (i.e.\
        \ XtdSubject)."
      tags:
      - Dictionary
      x-accepts:
      - application/json
      x-tags:
      - tag: Dictionary
  /api/Dictionary/v1/Properties:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      summary: "[NOT IMPLEMETED]Get dictionary with its properties from Datacat (i.e.\
        \ XtdProperty)."
      tags:
      - Dictionary
      x-accepts:
      - application/json
      x-tags:
      - tag: Dictionary
  /api/Dictionary/Popular/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      summary: Get list of popular Dictionaries
      tags:
      - Popular Dictionary
      x-accepts:
      - application/json
      x-tags:
      - tag: Popular Dictionary
  /api/Property/v4:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      summary: Get Property details
      tags:
      - Property
      x-accepts:
      - application/json
      x-tags:
      - tag: Property
  /api/Property/Relations/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      summary: Get property relations or reverse relations (paginated)
      tags:
      - Property
      x-accepts:
      - application/json
      x-tags:
      - tag: Property
  /api/Property/Classes/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      summary: Get list of classes that uses the property (paginated)
      tags:
      - Property
      x-accepts:
      - application/json
      x-tags:
      - tag: Property
  /api/PropertyValue/v2:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      summary: Get Property Value details
      tags:
      - Property
      x-accepts:
      - application/json
      x-tags:
      - tag: Property
  /api/TextSearch/v2:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Search
      x-accepts:
      - application/json
      x-tags:
      - tag: Search
  /api/TextSearch/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Search
      x-accepts:
      - application/json
      x-tags:
      - tag: Search
  /api/SearchInDictionary/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Search
      x-accepts:
      - application/json
      x-tags:
      - tag: Search
  /api/Class/Search/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Search
      x-accepts:
      - application/json
      x-tags:
      - tag: Search
  /api/Unit/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Lookup Data
      x-accepts:
      - application/json
      x-tags:
      - tag: Lookup Data
  /api/ReferenceDocument/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Lookup Data
      x-accepts:
      - application/json
      x-tags:
      - tag: Lookup Data
  /api/Language/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Lookup Data
      x-accepts:
      - application/json
      x-tags:
      - tag: Lookup Data
  /api/Country/v1:
    get:
      deprecated: true
      responses:
        "200":
          description: Success
      tags:
      - Lookup Data
      x-accepts:
      - application/json
      x-tags:
      - tag: Lookup Data
  /api/Statistics:
    get:
      description: "With this endpoint the statistics, i.e. the items name and its\
        \ content count (referring to EXPRESS specification from DIN EN ISO 12006-3),\
        \ can be requested with GET."
      operationId: getStatistics
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponseContract.v1'
          description: Success
      summary: Get statistics about Datacat entries here.
      tags:
      - Datacat Specifics
      x-accepts:
      - application/json
      x-tags:
      - tag: Datacat Specifics
components:
  schemas:
    ClassContract.v1:
      additionalProperties: false
      example:
        code: code
        revisionNumber: 0
        subdivisionsOfUse:
        - subdivisionsOfUse
        - subdivisionsOfUse
        description: description
        deprecationExplanation: deprecationExplanation
        versionDateUtc: 2000-01-23T04:56:07.000+00:00
        uid: uid
        replacedObjectCodes:
        - replacedObjectCodes
        - replacedObjectCodes
        replacingObjectCodes:
        - replacingObjectCodes
        - replacingObjectCodes
        creatorLanguageCode: creatorLanguageCode
        definition: definition
        dictionaryUri: dictionaryUri
        countriesOfUse:
        - countriesOfUse
        - countriesOfUse
        visualRepresentationUri: visualRepresentationUri
        synonyms:
        - synonyms
        - synonyms
        parentClassReference:
          name: name
          uri: uri
        activationDateUtc: 2000-01-23T04:56:07.000+00:00
        uri: uri
        versionNumber: 6
        classProperties:
        - dataType: dataType
          name: name
          description: description
          propertyUri: propertyUri
          uri: uri
        - dataType: dataType
          name: name
          description: description
          propertyUri: propertyUri
          uri: uri
        deActivationDateUtc: 2000-01-23T04:56:07.000+00:00
        name: name
        documentReference: documentReference
        countryOfOrigin: countryOfOrigin
        revisionDateUtc: 2000-01-23T04:56:07.000+00:00
        referenceCode: referenceCode
        relatedIfcEntityNames:
        - relatedIfcEntityNames
        - relatedIfcEntityNames
        classType: classType
        status: status
      properties:
        dictionaryUri:
          description: URI of the dictionary
          nullable: true
          type: string
        activationDateUtc:
          description: Date of activation
          format: date-time
          type: string
        code:
          description: Code used originally by the dictionary
          minLength: 1
          type: string
        creatorLanguageCode:
          description: Language code of the creator
          nullable: true
          type: string
        countriesOfUse:
          description: List of countries where used
          items:
            type: string
          nullable: true
          type: array
        countryOfOrigin:
          description: Country of origin
          nullable: true
          type: string
        deActivationDateUtc:
          description: Date of deactivation
          format: date-time
          nullable: true
          type: string
        definition:
          description: Formal definition
          nullable: true
          type: string
        deprecationExplanation:
          description: Explanation of the deprecation
          nullable: true
          type: string
        description:
          description: Description
          nullable: true
          type: string
        documentReference:
          description: Reference to a(n official) document
          nullable: true
          type: string
        name:
          description: Name
          minLength: 1
          type: string
        uri:
          description: Unique identification
          minLength: 1
          type: string
        replacedObjectCodes:
          description: List of codes of the replaced items
          items:
            type: string
          nullable: true
          type: array
        replacingObjectCodes:
          description: List of codes of the replacing items
          items:
            type: string
          nullable: true
          type: array
        revisionDateUtc:
          description: Date of the revision
          format: date-time
          nullable: true
          type: string
        revisionNumber:
          description: Revision number
          format: int32
          nullable: true
          type: integer
        status:
          description: "Status, can be: Preview, Active or Inactive"
          minLength: 1
          type: string
        subdivisionsOfUse:
          description: List of subdivisions (e.g. states) where used
          items:
            type: string
          nullable: true
          type: array
        uid:
          description: Alternative unique global identification
          nullable: true
          type: string
        versionDateUtc:
          description: Date of the version
          format: date-time
          type: string
        versionNumber:
          description: Version number
          format: int32
          nullable: true
          type: integer
        visualRepresentationUri:
          description: URI of a visual representation
          nullable: true
          type: string
        classType:
          description: Type of Class
          nullable: true
          type: string
        referenceCode:
          description: Code that can be used for dictionary specific purposes
          nullable: true
          type: string
        synonyms:
          description: List of synonyms for the class
          items:
            type: string
          nullable: true
          type: array
        relatedIfcEntityNames:
          description: List of related IFC entity names (version independent)
          items:
            type: string
          nullable: true
          type: array
        parentClassReference:
          $ref: '#/components/schemas/ClassReferenceContract.v1'
        classProperties:
          description: List of the properties of this class
          items:
            $ref: '#/components/schemas/ClassPropertyContract.v1'
          nullable: true
          type: array
      required:
      - activationDateUtc
      - name
      - uri
      - versionDateUtc
      type: object
    ClassListItemContract.v1.Classes:
      additionalProperties: false
      example:
        parentClassCode: parentClassCode
        code: code
        children:
        - null
        - null
        name: name
        referenceCode: referenceCode
        uri: uri
        classType: classType
        descriptionPart: descriptionPart
      properties:
        uri:
          nullable: true
          type: string
        code:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        classType:
          nullable: true
          type: string
        referenceCode:
          nullable: true
          type: string
        parentClassCode:
          nullable: true
          type: string
        descriptionPart:
          nullable: true
          type: string
        children:
          items:
            $ref: '#/components/schemas/ClassListItemContract.v1.Classes'
          nullable: true
          type: array
      type: object
    ClassPropertyContract.v1:
      additionalProperties: false
      example:
        dataType: dataType
        name: name
        description: description
        propertyUri: propertyUri
        uri: uri
      properties:
        name:
          description: Name of the property
          minLength: 1
          type: string
        uri:
          nullable: true
          type: string
        description:
          description: "Plain language description of the property.\r\nIf at Property\
            \ level no description has been given but a \"Definition\" is available,\
            \ then \"Definition\" is returned as description"
          nullable: true
          type: string
        dataType:
          description: Format for expressing the value of the property
          nullable: true
          type: string
        propertyUri:
          description: Unique identification of the property
          nullable: true
          type: string
      required:
      - name
      type: object
    ClassReferenceContract.v1:
      additionalProperties: false
      example:
        name: name
        uri: uri
      properties:
        uri:
          minLength: 1
          type: string
        name:
          nullable: true
          type: string
      required:
      - uri
      type: object
    ClassRelationsContract.v1:
      additionalProperties: false
      properties:
        classUri:
          description: Uri of the class
          nullable: true
          type: string
      type: object
    DictionaryResponseContract.v1:
      additionalProperties: false
      example:
        offset: 6
        count: 1
        totalCount: 0
        dictionaries:
        - name: name
          uri: uri
          version: version
        - name: name
          uri: uri
          version: version
      properties:
        totalCount:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        count:
          format: int32
          type: integer
        dictionaries:
          items:
            $ref: '#/components/schemas/DictionaryContract.v1'
          nullable: true
          type: array
      type: object
    DictionaryContract.v1:
      additionalProperties: false
      example:
        name: name
        uri: uri
        version: version
      properties:
        uri:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        version:
          minLength: 1
          type: string
      required:
      - name
      type: object
    DictionaryClassesResponseContract.v1.Classes:
      additionalProperties: false
      example:
        organizationNameOwner: organizationNameOwner
        licenseUrl: licenseUrl
        code: code
        isLatestVersion: true
        isVerified: true
        releaseDate: 2000-01-23T04:56:07.000+00:00
        lastUpdatedUtc: 2000-01-23T04:56:07.000+00:00
        classes:
        - parentClassCode: parentClassCode
          code: code
          children:
          - null
          - null
          name: name
          referenceCode: referenceCode
          uri: uri
          classType: classType
          descriptionPart: descriptionPart
        - parentClassCode: parentClassCode
          code: code
          children:
          - null
          - null
          name: name
          referenceCode: referenceCode
          uri: uri
          classType: classType
          descriptionPart: descriptionPart
        uri: uri
        version: version
        organizationCodeOwner: organizationCodeOwner
        license: license
        qualityAssuranceProcedure: qualityAssuranceProcedure
        classesTotalCount: 0
        classesCount: 1
        name: name
        moreInfoUrl: moreInfoUrl
        classesOffset: 6
        defaultLanguageCode: defaultLanguageCode
        qualityAssuranceProcedureUrl: qualityAssuranceProcedureUrl
        status: status
      properties:
        code:
          minLength: 1
          type: string
        uri:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        version:
          minLength: 1
          type: string
        organizationCodeOwner:
          minLength: 1
          type: string
        organizationNameOwner:
          minLength: 1
          type: string
        defaultLanguageCode:
          description: The default language for this domain
          minLength: 1
          type: string
        isLatestVersion:
          type: boolean
        isVerified:
          type: boolean
        license:
          description: Name or short description of the license under which you can
            use this data
          nullable: true
          type: string
        licenseUrl:
          description: URL where you can find more details about the license or default
            link to info about licensing
          nullable: true
          type: string
        qualityAssuranceProcedure:
          description: Name or short description of the quality assurance procedure
            used while creating and maintaining the domain data
          nullable: true
          type: string
        qualityAssuranceProcedureUrl:
          description: URL where you can find more details about the quality assurance
            procedure
          nullable: true
          type: string
        status:
          description: "For state indication, like \"Preview\", \"Active\", \"InActive\"\
            , \"Released"
          nullable: true
          type: string
        moreInfoUrl:
          description: Url to site with more info on domain
          nullable: true
          type: string
        releaseDate:
          description: Date of the release of this version
          format: date-time
          nullable: true
          type: string
        lastUpdatedUtc:
          description: Date and time the data of the domain has been last updated
            in bSDD
          format: date-time
          type: string
        classes:
          items:
            $ref: '#/components/schemas/ClassListItemContract.v1.Classes'
          nullable: true
          type: array
        classesTotalCount:
          description: Total number of classes within the dictionary.
          format: int32
          nullable: true
          type: integer
        classesOffset:
          format: int32
          nullable: true
          type: integer
        classesCount:
          description: The returned number of classes.
          format: int32
          nullable: true
          type: integer
      required:
      - uri
      type: object
    PropertiesResponse.v1:
      properties:
        uri:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        version:
          minLength: 1
      type: object
    StatisticsResponseContract.v1:
      example:
        catalogueItemId: catalogueItemId
        itemsCount: itemsCount
      properties:
        catalogueItemId:
          type: string
        itemsCount:
          type: string
      type: object
